@model IndexModel
@{
  
}

<table class="table table-striped">
    
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>

  <tbody>
   @foreach(var transaction in Model.Transactions)
   {
      <tr>
        <td>@transaction.Id</td>
        <td>@transaction.Name</td>
        <td>@transaction.Amount</td>
        <td>@transaction.CategoryId</td>
      </tr>
   }
  </tbody>
</table>