html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  background-image: url("../img/stripes.png");
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin-bottom: 60px;
}

footer { 
  background-color: #75bba7;
  font-weight: absolute;
}

.hometable {
  margin-top: 50px;
}

.appimg {
  border-radius: 8px;
  max-height: 85px;
  max-width: 85px;
  padding: 12px;
}

.addTransactionPage {
  padding: 12px;
  max-width: 250px;
  max-height: 75px;
  display: flex;
  flex-direction: row;
}

.addTransactionBreak { 
  max-width: 280px;
}

#main-table {
  max-width: 1000px;
}

.new-transaction-button {
  padding-right: 175px;
}

.mainNavBar {
  background-color: #75bba7;
  margin-left: 0px;
  margin-right: 0px;
  max-width: inherit;
  max-height: inherit;
  padding: 0px;
  margin: 0px;
}

.navbar { 
  justify-content: center;
  position: static;
  padding: 0px;
  margin: 0px;
}

.top-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: inherit;
}

.header {
  background-color: #75bba7;
}

#mainbody { 
  background-color: rgba(1, 136, 199, 0);
}

#footertext {
  color: rgba(0, 0, 0, 0.523);
}

.btn-primary {
  background-color: #0b7189;
}

.btn-primary:hover {
  background-color: #80ccdd;
  border: 1px;
  border-color: white;
}

.btn-danger { 
  background-color: #c21414e7;
}

.btn-danger:hover {
  background-color: #d56b6be7;
  border: 1px;
  border-color: white;
}

#tableheader { 
  margin-top: 35px;
}

.bg-light {
  background-color: rgba(128, 128, 128, 0.785)
}

.searchForm {
  justify-content: space-between;
}

.input-group {
  margin-right: 10px;
}

.input-group-append { 
  margin-left: 10px;
}

.sr-only {
  max-width: fit-content;
  max-height: fit-content;
}

.mainIndex {
  justify-content: space-around;
}